# List

* List is an ordered data structures. 
* List are mutable, which means they can be updated or replaced or deleted.
* List can have any datatype included in it. It can mixtures of data types from string,int or tuple.
* List is defined as **List_name=[..,...]**
* Elements of the list can be iterated

In [1]:
list1=[1,2,4,56,78,984]

In [2]:
print(type(list1))

<class 'list'>

In [5]:
listmixed=[1,6.75, 'String',True,(45,1,12,42)]

In [4]:
print(type(listmixed))

<class 'list'>

In [7]:
#lets print each datatype present inside the list. in this each element is been iterated.
for i in listmixed:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'tuple'>

### Methods present in list
* Methods are function which can be used on a object.
* Below are the function we can apply on list
    * list.index(a)      --> returns the index value of the item a.
    * list.count(a)      --> return count of the item a.
    * list.append('a')   --> append 'a' to the end of the list. used for adding single element to the list.
    * list.remove('a')   --> remove 'a' from the list.
    * del(list[0:1])     --> delete particular items from the list. Used to delete the series using index value.
    * list.reverse()     --> reverse the order of the list
    * list.extend('!')   --> extend the number of items in the list 
    * list.pop(-1)       --> removes an item from the list using index value 
    * list.insert(0,'!') --> insert an item to the list by specifying the location where you want to insert
    * list.sort()        --> sort the list by default in ascending order
 Let's try examples on each

In [52]:
#slicing and index
list1=[1,2,4,56,78,984]
print(list1[5]) #using index value to retrive the data
print(list1[2:6])  #slicing the list

984
[4, 56, 78, 984]

In [53]:
#pop
list1.pop(1)
print(list1)

[1, 4, 56, 78, 984]

In [54]:
#append
list1.append(2)
print(list1)

[1, 4, 56, 78, 984, 2]

In [55]:
#insert value 2 at index value 2
list1.insert(2,4)
print(list1)

[1, 4, 4, 56, 78, 984, 2]

In [56]:
#count
list1.count(4)

2

In [57]:
#remove
list1.remove(56)
print(list1)

[1, 4, 4, 78, 984, 2]

In [61]:
#del
del list1[4:6]
print(list1)

[1, 4, 4, 78]

In [64]:
#extend. it adds the iterable element to the end of the list. it takes string, list or tuple as an input.
for i in 'String':
    list1.extend(i)
print(list1)

[1, 4, 4, 78, 'S', 't', 'r', 'i', 'n', 'g']

In [71]:
#Sorting is done if  the list consist of only one data types.
sortlist=list1[4:9]
sortlist.sort()
print(sortlist)

['S', 'i', 'n', 'r', 't']

In [72]:
#slicing returns 2nd item from the list starting from the 1st item
list1[1::2]

[4, 78, 't', 'i', 'g']

In [73]:
#negative slicing. returns last 5 elements
list1[-5:]

['t', 'r', 'i', 'n', 'g']

In [90]:
#aggregate function
print("list=",list1[0:4])
print("sum=",sum(list1[0:4])) #sum function used to add numeric data
print("minimum value=",min(list1[0:4])) #min value from the list
print("length=",len(list1[0:4])) #lenght of the list

#join function. Converts a list  into string
"".join(list1[4:10])

list= [1, 4, 4, 78]
sum= 87
minimum value= 1
length= 4

'String'