# Tuple

* Tuple are immutable, means they can't be changed. Once the value is stored inside a tuple it cant be modified, but we can use it to perform various actions on it.
* Tuple are similar to a List but just the difference it is immutable.
* Syntax to assign value inside a tuple --> **tuple_name** = (....)

In [2]:
#creating an empty typle
tuple1=()

In [3]:
tuple2=(1,2,3,4,6)

In [5]:
#checking data type
print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

In [12]:
#to include a single value in tuple. We have to include the comma. if not included it will consider it as an different object.
tuple1=(1,)
nottuple=(1)

In [14]:
print(type(tuple1))
print(type(nottuple))

<class 'tuple'>
<class 'int'>

As you can see above if comma is not included the value is considered as an integer rather than a tuple

Access the value. The index starts from zero. tuple[index value] is your for accesing the value at that particular index

In [22]:
tuple2=(1,2,3,4,6)
print(tuple2[3])

4

In [24]:
#for slicing we use : to provide the start and end point of the range of index we want to slice
tuple2=(1,2,3,4,6)
print(tuple2[2:5])

(3, 4, 6)

since tuples are immutable. operations like removing the value or updating the value is not possible. if you want to do any changes to the tuple then you have to create a new tuple

In [25]:
#upadting
tuple2[0]=10

TypeError: 'tuple' object does not support item assignment

In [26]:
#removing
del tuple2[0]

TypeError: 'tuple' object doesn't support item deletion

In [29]:
#if we want to remove the value or update it create new tuple. removing 6.
tuple2=(1,2,3,4,6)

newtuple1=tuple2[0:4]

print(newtuple)

(1, 2, 3, 4)